<link rel="stylesheet" href="main.css">


<%- include("partials/header.ejs") %>

<h1 class="display-1">About Me</h1> <br>

<h1 class="display-6">
  <div class="para">     
    <img src="Media/pngegg.png" alt="" ><br>
    This is a blogging website develeoped by Me. It is part of the web development Capstone project 
  </div>
</h1>
        

<style>
img{
  height: 40%;
  width: 50%;

  margin: 0;
  padding: 0;
}
</style>